body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(2, 2, 0);
    color: #f8f8f8;
    text-align: center;
}

header {
    padding: 30px 20px;
}

h1 {
    margin-bottom: 10px;
    background-color: rgb(2, 2, 0);
    ;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

#paleta {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    min-height: 180px;
    border-color:#f8f8f8
}

#generar-paleta {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-color: rgb(236, 235, 235) ;
    border-radius: 6px;

}

#opciones-paleta {
    display: none;
    align-items: center;
    flex-direction: column;
}
#opciones-paleta.mostrar {
    display: flex;
    border-color: rgb(252, 249, 249)
  
}
.bloque-color {
    width: 120px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.muestra-color {
    height: 150px;
}

.informacion-color {
    background-color: rgb(10, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

.informacion-color p {
    margin: 4px 0;
}

.rgb,.hsl {
    cursor: pointer;
}

.selector-formato {
    font-size: 30px; 
}

.opcion {
    width: 150px;
}