body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(2, 2, 0);

    color: #f8f8f8;
    text-align: center;
}

header {
    padding: 30px 20px;
}

h1 {
    margin-bottom: 10px;
    background-color: rgb(2, 2, 0);
    ;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

#paleta {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    min-height: 180px;
}

#generar-paleta {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

#opciones-paleta {
    display: none;
    flex-direction: column;
}
#opciones-paleta.mostrar {
    display: flex;
}